# .gitignore
# package.json
# package-lock.json
dist
node_modules
.eslintrc.js
.htmlhintrc
.prettierrc
.prettierrc.json
.stylelintignore
.prettierignore
.stylelintrc
.stylelintrc.json
.vscode
notes.txt
